/* Container for the entire app */
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.email,
.password {
  width: 400px; /* Adjust width to accommodate icon */
  font-size: 1.2em; /* Increase font size */
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding in width calculation */
  /* Add margin for spacing */
}

.input-container {
  position: relative;
  display: inline-block;
}

